<?xml version="1.0" encoding="UTF-8"?>
<!--1분 마다 모니터링 하며 설정 값 변경되면 변경된 값 적용-->
<Configuration status="DEBUG" monitorInterval="1">
    <Properties>
        <!--경로는 애플리케이션의 홈 디렉토리 내에 myapp폴더 생성 후 logs폴더 생성해서 관리-->
        <property name="LOGS_PATH">${sys:user.home}/myapp/logs</property>
        <Property name="LOG_TXT_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n</Property>
        <Property name="LOG_JSON_PATTERN1">{"timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "level": "%level", "logger": "%logger{1}", "thread": "%thread", "posting_search_message": %message}\n</Property>
        <Property name="LOG_JSON_PATTERN2">{"timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "level": "%level", "logger": "%logger{1}", "thread": "%thread", "posting_click_message": %message}\n</Property>
        <Property name="FILE_NAME1">job_search_history</Property>
        <Property name="FILE_NAME2">job_click_history</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%highlight{%-5p}] %style{%c{1}:%L}{blue} - %m%n"/>
        </Console>

        <RollingFile name="JobSearchHistoryLogger" append="true">
             <!-- 현재의 활성 로그 파일의-->
            <FileName>${LOGS_PATH}/${FILE_NAME1}.json</FileName>
             <!-- 롤링이 발생할 때 새로 생성되는 로그 파일-->
            <FilePattern>${LOGS_PATH}/${FILE_NAME1}-%d{yyyy-MM-dd}.json.gz</FilePattern>
            <PatternLayout pattern="${LOG_JSON_PATTERN1}"/>
            <!--compact: 키 사이에 공백이나 줄바꿈을 쓰지 않고 JSON 로그를 작성-->
            <!--eventEol:각 레코드 뒤에 줄 끝 문자( \n)를 추가-->
            <!--includeTimeMillis: imeMillis라는 필드가 추가되며 로그 이벤트가 발생한 시간을 밀리초 단위로 기록-->
            <JSONLayout complete="true" compact="false" eventEol="true" properties="true" includeTimeMillis="true">
                <KeyValuePair key="appName" value="wedug-app" />
            </JSONLayout>
            <Policies>
                <!-- FilePattern의 {yyyy-MM-dd} + interval="1" => 하루마다 새로운 로그 파일이 생성 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- 최대 31개의 파일을 유지하도록 설정 -->
            <DefaultRolloverStrategy max="31">
                <Delete basePath="${LOGS_PATH}" maxDepth="1">
                    <!--총 파일 수가 31개 초과 할 경우 오래된 파일 삭제 됨-->
                    <IfAccumulatedFileCount exceeds="31"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="JobClickHistoryLogger" append="true">
            <!-- 현재의 활성 로그 파일의-->
            <FileName>${LOGS_PATH}/${FILE_NAME2}.json</FileName>
            <!-- 롤링이 발생할 때 새로 생성되는 로그 파일-->
            <FilePattern>${LOGS_PATH}/${FILE_NAME2}-%d{yyyy-MM-dd}.json.gz</FilePattern>
            <PatternLayout pattern="${LOG_JSON_PATTERN2}"/>
            <!--compact: 키 사이에 공백이나 줄바꿈을 쓰지 않고 JSON 로그를 작성-->
            <!--eventEol:각 레코드 뒤에 줄 끝 문자( \n)를 추가-->
            <!--includeTimeMillis: imeMillis라는 필드가 추가되며 로그 이벤트가 발생한 시간을 밀리초 단위로 기록-->
            <JSONLayout complete="true" compact="false" eventEol="true" properties="true" includeTimeMillis="true">
                <KeyValuePair key="appName" value="wedug-app" />
            </JSONLayout>
            <Policies>
                <!-- FilePattern의 {yyyy-MM-dd} + interval="1" => 하루마다 새로운 로그 파일이 생성 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- 최대 31개의 파일을 유지하도록 설정 -->
            <DefaultRolloverStrategy max="31">
                <Delete basePath="${LOGS_PATH}" maxDepth="1">
                    <!--총 파일 수가 31개 초과 할 경우 오래된 파일 삭제 됨-->
                    <IfAccumulatedFileCount exceeds="31"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.wooribound.global.interceptor.JobSearchHistoryLoggingInterceptor" level="info" additivity="true">
            <AppenderRef ref="JobSearchHistoryLogger"/>
        </Logger>
        <Logger name="com.wooribound.global.interceptor.JobClickHistoryLoggingInterceptor" level="info" additivity="true">
            <AppenderRef ref="JobClickHistoryLogger"/>
        </Logger>

        <!-- 루트 로거(모든 로그 메세지 기본 정의) 설정 -->
        <!-- TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
        <!-- INFO 상위 모두 출력 됨-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>